@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.nav {
    background-color: #222222;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav a {
    color: #FFFFFF;
    padding: 7px 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: #000000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: darkred;
  font-weight: bold;
}

.content h2,
.content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #555555;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
}
section{
    padding-bottom: 16px;
}

footer{
    bottom: 0;
    height: 10vh;
    text-align: center;
    align-items: center;
    padding-top: 3vh;
    background-color: #222222;
}

.img-footer{
    width: 30px;
    height: 30px;
}

footer ul li{
    display: inline;
    text-decoration: none;
    padding: 16px;
  }
footer a{
    text-decoration: none;
    color: white;
}
.footer-text
{
    padding-right: 16px;
    padding-left: 8px;
}


ul {
	list-style-type: none;
}

.pricing-table-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.6em;
	color: #222222;
	margin-top: 15px;
	text-align: left;
	margin-bottom: 25px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	clear: both;
}

.pricing-wrapper {
	width: 960px;
	margin: 80px auto 0;
}

.pricing-table {
	margin: 0 10px;
	text-align: center;
	width: 300px;
	float: left;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.pricing-table:hover {
	-webkit-transform: scale(1.06);
	-ms-transform: scale(1.06);
	-o-transform: scale(1.06);
	transform: scale(1.06);
}

.pricing-title {
	color: #FFF;
	background: darkred;
	padding: 20px 0;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.pricing-table .price {
	background: white;
	font-size: 3.4em;
	font-weight: 700;
	padding: 20px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table .price sup {
	font-size: 0.4em;
	position: relative;
	left: 5px
}
s
.table-list {
	background: #FFF;
	color: black;
}

.table-list li {
	font-size: 1.4em;
	font-weight: 700;
	padding: 12px 8px;
}

.table-list li:nth-child(2n) {
	background: #F0F0F0;
}

 @media only screen and (min-width: 768px) and (max-width: 959px) {
 	.pricing-wrapper {
 		width: 768px;
 	}

 	.pricing-table {
 		width: 236px;
 	}
	
	.table-list li {
		font-size: 1.3em;
	}

 }

 @media only screen and (max-width: 767px) {
 	.pricing-wrapper {
 		width: 420px;
 	}

 	.pricing-table {
 		display: block;
 		float: none;
 		margin: 0 0 20px 0;
 		width: 100%;
 	}
	 .nav {
		flex-direction: column;
		text-align: center;
	  }
	  .nav h1 {
		  display: none;
	  }
	  .nav li {
		margin: 10px 0;
	  }
	  .nav .container{
		  justify-content: space-around;
	  }
  
	  .footer-text {
		  display: none;
		}
 }

